pipeline/CAA Pipeline.json
{
	"name": "CAA Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_backenddata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_backenddata",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_caaadls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Data Cleaning",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CAA Workspace/data cleaning"
				},
				"linkedServiceName": {
					"referenceName": "ls_caa_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Data Cleaning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CAA Workspace/data transformation"
				},
				"linkedServiceName": {
					"referenceName": "ls_caa_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_all_http_files",
									"type": "DatasetReference",
									"parameters": {
										"BaseURL": {
											"value": "@item().BaseURL",
											"type": "Expression"
										},
										"RelativeURL": {
											"value": "@item().RelativeURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_caaadls_http",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy customer account balance",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Data Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "customer_account_balance",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"account_id",
								"customer_id"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "account_id",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "account_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "customer_id",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "customer_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "first_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "total_balance",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "total_balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_caaadls_golden",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_caa_dw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "customer_account_balance"
						}
					}
				]
			},
			{
				"name": "Copy - loan summary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy customer account balance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "loan_summary",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"loan_id",
								"customer_id"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "loan_id",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "loan_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "customer_id",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "customer_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "loan_amount",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "loan_amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "interest_rate",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "interest_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "loan_term",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "loan_term",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "total_loan_amount",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "total_loan_amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "total_interest",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "total_interest",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_caaadls_golden",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_caa_dw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "loan_summary"
						}
					}
				]
			},
			{
				"name": "Copy loan_term_summary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy - loan summary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "loan_term_summary",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"loan_term"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "loan_term",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "loan_term",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "average_loan_amount",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "average_loan_amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_caaadls_golden",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_caa_dw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "loan_term_summary"
						}
					}
				]
			},
			{
				"name": "Copy transaction_analysis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy loan_term_summary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "transaction_analysis",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"account_id"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "account_id",
									"type": "Int32",
									"physicalType": "INT_32"
								},
								"sink": {
									"name": "account_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "transaction_type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "transaction_type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "total_amount",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "transaction_count",
									"type": "Int64",
									"physicalType": "INT_64"
								},
								"sink": {
									"name": "transaction_count",
									"type": "Int64",
									"physicalType": "bigint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_caaadls_golden",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_caa_dw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "transaction_analysis"
						}
					}
				]
			},
			{
				"name": "Copy transaction_summary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy transaction_analysis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "transaction_summary",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"transaction_type"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "transaction_type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "transaction_type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "count",
									"type": "Int64",
									"physicalType": "INT_64"
								},
								"sink": {
									"name": "count",
									"type": "Int64",
									"physicalType": "bigint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_caaadls_golden",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_caa_dw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "transaction_summary"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-07T21:36:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}